
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    /*background-color: #ece3a5;*/
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    /*background-color: #ece3a5;*/
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    /*background-color: #dddddd;*/
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  /*color: black;*/
  font-weight : bold;
  /*text-decoration : underline;*/
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.ui-datatable.borderless thead th {
    display: none;
}

.ui-datatable.noheader thead th {
    display: none;
}
/*
.ui-layout-north .ui-layout-unit-content {
border: none;
padding: 0 0 0 0;
margin: 0 0 0 ;
/*font-size: small; 
font-family: GE Inspira; *//*
color: blue;
background: blue;
overflow: hidden;
}*/
