<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:decorate template="./../templates/templateFaces.xhtml">
        <ui:define name="centro">
            <h:form id="form">
                <p:growl id="growlMessage" showDetail="false" sticky="false" showSummary="true"/> 
                <p:breadCrumb>  
                    <p:menuitem action="/index?faces-redirect=true" />  
                    <p:menuitem value="Início" title="Início" action="/index?faces-redirect=true" />  
                    <p:menuitem value="Finalizar encomenda" action="/consumidor/consumidor_finalizar_encomenda?faces-redirect=true" />  
                </p:breadCrumb>                
                <p:panel header="FINALIZAR ENCOMENDA" style="text-align:left" >
                    <p:wizard backLabel="Anterior" nextLabel="Seguinte">
                        <p:tab id="pessoal" title="Dados pessoais">  
                            <p:panel header="Dados pessoais">  

                                <h:messages errorClass="error"/>  

                                <h:panelGrid columns="2" columnClasses="label, value" styleClass="grid">  
                                    <h:outputText value="Nome: *" />  
                                    <p:inputText required="true" label="Nome" 
                                                 requiredMessage="O nome é obrigatório!" 
                                                 maxlength="50"
                                                 value="#{consumidorManager.carrinhoEncomenda.cabecalho.nome}" />  

                                    <h:outputText value="Apelido: *" />  
                                    <p:inputText required="true" label="Apelido" 
                                                 requiredMessage="O apelido é obrigatório!"
                                                 maxlength="50"
                                                 value="#{consumidorManager.carrinhoEncomenda.cabecalho.apelido}" />  
                                </h:panelGrid>  
                            </p:panel>  
                        </p:tab>  

                        <p:tab id="endereco" title="Endereço">  
                            <p:panel header="Endereço">  

                                <h:messages errorClass="error"/>  

                                <h:panelGrid columns="2" columnClasses="label, value">  
                                    <h:outputText value="Morada: *"/>  
                                    <p:inputText required="true" requiredMessage="Morada é obrigatória!"
                                                 maxlength="100"
                                                 value="#{consumidorManager.carrinhoEncomenda.cabecalho.morada}" />  

                                    <h:outputText value="Código Postal: *" />  
                                    <p:inputText required="true" requiredMessage="Código Postal é obrigatório!"
                                                 validatorMessage="O formato do código postal é inválido."
                                                 maxlength="100"
                                                 value="#{consumidorManager.carrinhoEncomenda.cabecalho.codigoPostal}">
                                        <f:validateRegex pattern="\d{4}-\d{3}" />
                                    </p:inputText>  

                                    <h:outputText value="Localidade: *" />  
                                    <p:inputText required="true" requiredMessage="Localidade é obrigatória!"
                                                 maxlength="100"
                                                 value="#{consumidorManager.carrinhoEncomenda.cabecalho.localidade}" />  

                                </h:panelGrid>  
                            </p:panel>  
                        </p:tab>  

                        <p:tab id="contacto" title="Contacto">  
                            <p:panel header="Contacto">  

                                <h:messages errorClass="error"/>  

                                <h:panelGrid columns="2" columnClasses="label, value">  
                                    <h:outputText value="Email: *" />  
                                    <p:inputText required="true" label="Email"
                                                 requiredMessage="Email é obrigatório!"
                                                 maxlength="150"
                                                 validatorMessage="O formato do email é inválido."
                                                 value="#{consumidorManager.carrinhoEncomenda.cabecalho.emailRequerente}">
                                        <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                                    </p:inputText>
                                </h:panelGrid>  
                            </p:panel>  
                        </p:tab>  

                        <p:tab id="confirmar" title="Confirmação">  
                            <p:panel header="Confirmação">  

                                <p:panelGrid id="confirmacao" columns="2">  
                                    <h:outputLabel for="nome" value="Nome: " />  
                                    <h:outputText id="nome" styleClass="outputLabel"  
                                                  value="#{consumidorManager.carrinhoEncomenda.cabecalho.nome}" />  

                                    <h:outputLabel for="apelido" value="Apelido: " />  
                                    <h:outputText  id="apelido" styleClass="outputLabel"  
                                                   value="#{consumidorManager.carrinhoEncomenda.cabecalho.apelido}"/>  

                                    <h:outputLabel for="morada" value="Morada: " />  
                                    <h:outputText id="morada" styleClass="outputLabel"  
                                                  value="#{consumidorManager.carrinhoEncomenda.cabecalho.morada}" />  

                                    <h:outputLabel for="codigoPostal" value="Código Postal: " />  
                                    <h:outputText id="codigoPostal" styleClass="outputLabel"  
                                                  value="#{consumidorManager.carrinhoEncomenda.cabecalho.codigoPostal}" />  

                                    <h:outputLabel for="localidade" value="Localidade: " />  
                                    <h:outputText id="localidade" styleClass="outputLabel"  
                                                  value="#{consumidorManager.carrinhoEncomenda.cabecalho.localidade}" />  

                                    <h:outputLabel for="email" value="Email: " />  
                                    <h:outputText id="email" styleClass="outputLabel"  
                                                  value="#{consumidorManager.carrinhoEncomenda.cabecalho.emailRequerente}" /> 
                                </p:panelGrid>  
                                <br/>
                                <p:commandButton value="Submeter encomenda" update="growlMessage"
                                                 ajax="false"
                                                 icon="ui-icon-disk"
                                                 action="/index?faces-redirect=true"
                                                 actionListener="#{consumidorManager.submeterEncomenda()}"/>  

                            </p:panel>  
                        </p:tab>  
                    </p:wizard>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:decorate>
</html>
