<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:decorate template="./../templates/templateFaces.xhtml">
        <ui:define name="centro">
            <h:form id="form">
                <p:growl id="growlMessage" showDetail="false" sticky="false" showSummary="true"/> 
                <p:breadCrumb>  
                    <p:menuitem action="/index?faces-redirect=true" />  
                    <p:menuitem value="Início" action="/index?faces-redirect=true" />
                    <p:menuitem value="#{consumidorManager.categoriaActual.nome}"
                                action="/consumidor/consumidor_produtos_categoria?faces-redirect=true" /> 
                    <p:menuitem value="Adicionar ao carrinho"
                                action="/consumidor/consumidor_carrinho_adicionar?faces-redirect=true" /> 
                </p:breadCrumb>                  
                <p:panel header="ADICIONAR PRODUTO AO CARRINHO" style="text-align:left" >
                    <h:panelGrid columns="2" border="0">
                        <h:column>
                            <p:graphicImage
                                id="imagemProduto"
                                value="#{imagensProdutosManager.imagem}"
                                height="200" width="200">
                                <f:param name="referencia" value="#{consumidorManager.produtoActual.referencia}" />
                            </p:graphicImage>
                        </h:column>
                        <h:column>
                            <p:panelGrid  columns="2" style="text-align: left;">  
                                <h:outputLabel for="referencia" value="Ref. Loja Virtual: "/>  
                                <h:outputText id="referencia" value="#{consumidorManager.produtoActual.referencia}" />  

                                <h:outputLabel for="nome" value="Produto: "/>  
                                <h:outputText id="nome" value="#{consumidorManager.produtoActual.nome}" />  

                                <h:outputLabel for="descricao" value="Descrição: " />  
                                <h:outputText id="descricao" escape="false" value="#{consumidorManager.produtoActual.descricao}"/>

                                <h:outputLabel for="descricaoLonga" value="Características: " />  
                                <h:outputText id="descricaoLonga" escape="false" value="#{consumidorManager.produtoActual.descricaoLonga}"/> 

                                <h:outputLabel for="preco" value="Preço: " />  
                                <h:outputText id="preco" escape="false" value="#{consumidorManager.produtoActual.preco}">
                                    <f:convertNumber type="currency"/>
                                </h:outputText>

                            </p:panelGrid><br/>  
                            <p:outputLabel for="spinnerQuantidade" value="Quantidade:" />  
                            <p:spinner
                                id="spinnerQuantidade"
                                value="#{consumidorManager.qtdAdicionarCarrinho}" 
                                min="1" max="9" maxlength="1" size="1"/><br/><br/>
                            <p:commandButton
                                value="Cancelar"
                                icon="ui-icon-close"
                                ajax="false"
                                action="/index?faces-redirect=true"
                                update="growlMessage"/>
                            <p:commandButton
                                value="Adicionar"
                                icon="ui-icon-check"
                                ajax="false"
                                action="/index?faces-redirect=true"
                                actionListener="#{consumidorManager.addProdutoCarrinho}"
                                update="growlMessage"/>
                        </h:column>
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </ui:define>
    </ui:decorate>
</html>
