<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>TODO supply a title</title>
    </head>
    <body>



        <p:commandLink update=":form:produtoDetalhe" oncomplete="PF('produtoDialog').show()" title="Ver detalhes">  
            <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />   
            <f:setPropertyActionListener value="#{produto}"   
                                         target="#{consumidorManager.produtoActual}" />  
        </p:commandLink>  

        <p:commandLink
            ajax="false"
            value="Adicionar ao carrinho"
            style="ui-icon-cart"
            actionListener="#{consumidorManager.addProdutoCarrinho(produto)}"
            >

        </p:commandLink>

        <h:outputLabel value="Qtd: " />  
        <p:spinner

            value="#{consumidorManager.qtdAdicionarCarrinho}" min="1" max="9" size="1"/>  
        <p:commandButton

            value="Adicionar ao carrinho"
            icon="ui-icon-cart"
            style="margin:0"   
            ajax="false"
            immediate="true"
            actionListener="#{consumidorManager.addProdutoCarrinho(produto)}">
        </p:commandButton>




        <p:commandButton
            id="buttonRemoveProdutoCarrinho"
            icon="ui-icon-close"
            ajax="false"
            action="/index?faces-redirect=true"
            actionListener="#{consumidorManager.removeProdutoCarrinho}">
            <f:setPropertyActionListener value="#{carrinho.produto}"   
                                         target="#{consumidorManager.produtoARemover}"/>  
        </p:commandButton>

        <p:commandLink
            action="#{consumidorManager.removeProdutoCarrinho()}"
            value="x"
            ajax="false"
            >
            <h:outputText styleClass="ui-icon ui-icon-close" style="margin:0 auto;" />  
            <f:setPropertyActionListener value="#{carrinho.produto}"   
                                         target="#{consumidorManager.produtoARemover}"/>
        </p:commandLink>

        <p:summaryRow>  
            <p:column id="sumTotal" style="text-align:right;">  
                Total:
            </p:column>  
            <p:column id="sumQtd" style="text-align:right;">
                #{consumidorManager.carrinho.quantidadeTotal}
            </p:column>  
            <p:column id="sumPreco" style="text-align:right;">             
                #{consumidorManager.carrinho.precoTotal} €
            </p:column>
            <p:column id="sumVazio1"/>
        </p:summaryRow>
        
        <h:outputText value="#{linhaCarrinho.produto.nome}"></h:outputText>
                                    <f:facet name="footer">
                                        <h:outputText value="Total:" style="text-align: right;"></h:outputText>
                                    </f:facet>
    
    value="#{consumidorManager.carrinho.produtos}"
    </body>
</html>

