<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../templates/templateNECDS.xhtml">

            <ui:define name="top">
                Loja Virtual
            </ui:define>

            <ui:define name="left">
                left
            </ui:define>

            <ui:define name="right">
            </ui:define>

            <ui:define name="content">
                <p:dataGrid
                    var="produto"
                    value="#{consumidorManager.produtosPorCategoria}"
                    columns="3"
                    rows="12"
                    paginator="true"
                    paginatorPosition="bottom"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                    rowsPerPageTemplate="9,12,15"
                    emptyMessage="Esta categoria não tem produtos">

                    <p:column> <!-- Adicionado posteriormente-->
                        <p:panel header="#{produto.referencia}" style="text-align:center" >
                            <h:panelGrid columns="1" style="width:100%">
                                <p:graphicImage value="#{imagensProdutosManager.imagem}" height="80" width="80">
                                    <f:param name="referencia" value="#{produto.referencia}" />
                                </p:graphicImage>
                                <h:outputText value="#{produto.nome}"/>
                                <h:outputText value="#{produto.descricao}"/>
                                <h:outputText value="#{produto.preco}"/>
                            </h:panelGrid>
                        </p:panel>
                    </p:column>
                </p:dataGrid>
            </ui:define>

            <ui:define name="bottom">
                bottom
            </ui:define>

        </ui:composition>

    </body>
</html>
