<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:decorate template="./templates/templateFaces.xhtml">
        <ui:define name="centro">
            <h:form id="form">
                <p:dataGrid
                    var="produto"
                    value="#{consumidorManager.produtos}"
                    columns="3"
                    rows="12"
                    paginator="true"
                    paginatorPosition="bottom"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                    rowsPerPageTemplate="9,12,15">

                    <p:column> <!-- Adicionado posteriormente-->
                        <p:panel header="#{produto.nome}" style="text-align:center" >
                            <h:panelGrid columns="2" style="width:100%" border="0">
                                <p:column>
                                    <p:graphicImage value="#{imagensProdutosManager.imagem}" height="80" width="80">
                                        <f:param name="referencia" value="#{produto.referencia}" />
                                    </p:graphicImage>
                                    <h:panelGrid columns="2" style="width:100%" border="0">

                                        <p:commandButton
                                        update=":form:produtoDetalhe" oncomplete="PF('produtoDialog').show()" title="Ver detalhes"
                                        
                                        icon="ui-icon-search"
                                        style="margin:0">
                                        <f:setPropertyActionListener value="#{produto}"   
                                                                     target="#{consumidorManager.produtoActual}" />
                                    </p:commandButton>-->
                                        <p:commandLink update=":form:produtoDetalhe" oncomplete="PF('produtoDialog').show()" title="Ver detalhes">  
                                            <h:outputText styleClass="ui-icon ui-icon-cart" style="margin:0 auto;" />   
                                            <f:setPropertyActionListener value="#{produto}"   
                                                                         target="#{consumidorManager.produtoActual}" />  
                                        </p:commandLink>

                                    </h:panelGrid>
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="1" border="0">
                                        <h:column>
                                            <!--<h:outputText value="#{produto.nome}" style="text-align: left" />-->

                                            <h:outputText value="#{produto.descricao}" style="text-align: left" />

                                            <h:outputText value="Preço: #{produto.preco} €" style="text-align: left"/>

                                            <p:commandLink update=":form:produtoDetalhe" oncomplete="PF('produtoDialog').show()" title="Ver detalhes">  
                                                <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />   
                                                <f:setPropertyActionListener value="#{produto}"   
                                                                             target="#{consumidorManager.produtoActual}" />  
                                            </p:commandLink>  

                                            <p:commandLink
                                                ajax="false"
                                                value="Adicionar ao carrinho"
                                                style="ui-icon-cart"
                                                actionListener="#{consumidorManager.addProdutoCarrinho(produto)}"
                                                >

                                            </p:commandLink>

                                            <h:outputLabel value="Qtd: " />  
                                            <p:spinner

                                                value="#{consumidorManager.qtdAdicionarCarrinho}" min="1" max="9" size="1"/>  
                                            <p:commandButton

                                                value="Adicionar ao carrinho"
                                                icon="ui-icon-cart"
                                                style="margin:0"   
                                                ajax="false"
                                                immediate="true"
                                                actionListener="#{consumidorManager.addProdutoCarrinho(produto)}">
                                            </p:commandButton>



                                        </h:column>
                                    </h:panelGrid>
                                </p:column>
                            </h:panelGrid>
                        </p:panel>
                    </p:column>
                </p:dataGrid>

                <p:dialog header="Detalhes do Produto" widgetVar="produtoDialog" modal="true" appendTo="@(body)">  
                    <p:outputPanel id="produtoDetalhe" style="text-align:center;">  
                        <p:graphicImage value="#{imagensProdutosManager.imagem}" height="80" width="80">
                            <f:param name="referencia" value="#{consumidorManager.produtoActual.referencia}" />
                        </p:graphicImage>
                        <h:panelGrid  columns="2" cellpadding="5">  
                            <h:outputLabel for="referencia" value="Referência: " />  
                            <h:outputText id="referencia" value="#{consumidorManager.produtoActual.referencia}" />  

                            <h:outputLabel for="nome" value="Produto: " />  
                            <h:outputText id="nome" value="#{consumidorManager.produtoActual.nome}" />  

                            <h:outputLabel for="descricao" value="Descrição: " />  
                            <h:outputText id="descricao" value="#{consumidorManager.produtoActual.descricao}"/>  
                        </h:panelGrid>  
                    </p:outputPanel>  
                </p:dialog>  
            </h:form>
        </ui:define>
    </ui:decorate>
</html>
