<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet library="css" name="default.css"/>
            <h:outputStylesheet library="css" name="cssLayout.css"/>
            <!--<link href="./resources/css/default.css" rel="stylesheet" type="text/css" />
            <link href="./resources/css/cssLayout.css" rel="stylesheet" type="text/css" />-->
            <title>Loja Virtual</title>
        </h:head>

        <h:body>

            <div id="top">
                <h:graphicImage height="80" width="80" value="#{resource['images:loja.gif']}" alt="Logotipo da Loja Virtual"/>
                <ui:insert name="top">Top</ui:insert>
            </div>
            <div>
                <div id="left" >
                    <!--<ui:insert name="left">Left</ui:insert>-->
                    <h:form>
                        <!--
                        <h:dataTable
                            var="categoria"
                            summary="Lista de todas as categorias de produtos"
                            value="#{consumidorManager.categorias}"
                            rules="none"
                            cellpadding="5">

                            <h:column>
                                <h:commandLink
                                    value="#{categoria.nome}"
                                    action="consumidor_produtos_por_categoria?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{consumidorManager.categoriaActual}" value="#{categoria}" />
                                </h:commandLink>
                            </h:column>

                        </h:dataTable>
                        -->
                        <p:dataTable
                            var="categoria"
                            summary="Lista de todas as categorias de produtos"
                            value="#{consumidorManager.categorias}">
                            <p:column>
                                <!--<p:panelGrid columns="1" style="width:100%">-->
                                <h:commandLink
                                    value="#{categoria.nome}"
                                    action="/consumidor/consumidor_produtos_categoria?faces-redirect=true">
                                    <f:setPropertyActionListener target="#{consumidorManager.categoriaActual}" value="#{categoria}" />
                                </h:commandLink>
                                <!--</p:panelGrid>-->
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </div>
                <div>
                    <div id="right">
                        <!--<ui:insert name="right">Right</ui:insert>-->
                        
                    </div>
                    <div id="content" class="right_content">
                        <ui:insert name="content"></ui:insert>
                    </div>
                </div>
            </div>
            <div id="bottom">
                <!--<ui:insert name="bottom">Bottom</ui:insert>-->
                Copyright &#169; 2013-2014 Alfonso Susavila e Ivo Silva - EI ESTG IPLEIRIA
            </div>

        </h:body>
    </f:view>
</html>
