<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet library="css" name="default.css"/>
            <h:outputStylesheet library="css" name="cssLayout.css"/>
            <h:outputStylesheet library="css" name="screen.css"/>
            <title>Loja Virtual</title>
            <style type="text/css">
                body {background-color: #eeeeee; font-size: 12px}
            </style> 
        </h:head>

        <h:body>
            <div align="center">
                <p:layout fullPage="true"><!-- style="min-width:1200px;max-width:1200px;min-height:700px">  -->
                    <p:layoutUnit position="north" size="120" >
                        <p:layout>
                            <p:layoutUnit position="west"  style="border-style: none">
                                <h:graphicImage height="80" width="80" value="#{resource['images:loja.gif']}" alt="Logotipo da Loja Virtual"/>
                            </p:layoutUnit>             
                            <p:layoutUnit position="center" visible="false"></p:layoutUnit>
                        </p:layout>
                    </p:layoutUnit>  

                    <p:layoutUnit position="west" size="220">
                        <h:form>
                            <p:panel header="CATEGORIAS" style="text-align:left">
                                <p:dataTable
                                    var="categoria"
                                    summary="Lista de todas as categorias de produtos"
                                    value="#{consumidorManager.categorias}"
                                    styleClass="borderless">
                                    <p:column>
                                        <!--<p:panelGrid columns="1" style="width:100%">-->
                                        <!--
                                        <h:commandLink
                                            value="#{categoria.nome}"
                                            action="/consumidor/consumidor_produtos_categoria?faces-redirect=true">
                                            <f:setPropertyActionListener target="#{consumidorManager.categoriaActual}" value="#{categoria}" />
                                        </h:commandLink>
                                        <p:commandLink
                                            styleClass=""
                                            
                                            value="#{categoria.nome}"
                                            action="/consumidor/consumidor_produtos_categoria?faces-redirect=true">
                                            <f:setPropertyActionListener value="#{categoria}"   
                                                                         target="#{consumidorManager.categoriaActual}" /> 
                                        </p:commandLink>-->
                                        <!--
                                        <p:menu>
                                            <p:menuitem
                                                value="#{categoria.nome}"
                                                ajax="false"
                                                action="/consumidor/consumidor_produtos_categoria?faces-redirect=true"
                                                style="border: none">
                                                <f:setPropertyActionListener value="#{categoria}"   
                                                                         target="#{consumidorManager.categoriaActual}" />
                                            </p:menuitem>
                                            
                                        </p:menu>-->
                                        <!--</p:panelGrid>-->
                                    </p:column>
                                </p:dataTable>
                            </p:panel>
                            <!--<p:spacer height="5" title="Carrinho"></p:spacer>-->
                            
                            <p:panel header="CARRINHO" style="text-align:left">
                                <p:dataTable 
                                    var="carrinho"
                                    summary="Lista de todos os produtos no carrinho"
                                    value="#{consumidorManager.carrinho}"
                                    emptyMessage="Vazio"
                                    styleClass="noheader">
                                    <p:column>
                                        <h:outputText value="#{carrinho.produto.nome}"></h:outputText>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{carrinho.quantidade}"></h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </p:panel>
                            
                        </h:form>
                    </p:layoutUnit>  
                    <p:layoutUnit position="center">  
                        <ui:insert name="centro">
                        </ui:insert>
                    </p:layoutUnit><!--
                    <p:layoutUnit position="east" size ="250">
                        <ui:insert name="east">
                            <p:panel header="CARRINHO" style="text-align:left">
                                <p:dataTable 
                                    var="carrinho"
                                    summary="Lista de todos os produtos no carrinho"
                                    value="#{consumidorManager.carrinho}"
                                    emptyMessage="Vazio"
                                    styleClass="noheader">
                                    <p:column>
                                        <h:outputText value="#{carrinho.produto.nome}"></h:outputText>
                                    </p:column>
                                    <p:column>
                                        <h:outputText value="#{carrinho.quantidade}"></h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </p:panel>
                        </ui:insert>
                    </p:layoutUnit>-->
                    <p:layoutUnit position="south" size="50">  
                        <!--<ui:insert name="south">-->
                            <p:panel header="Copyright &#169; 2013-2014 Alfonso Susavila e Ivo Silva - EI ESTG IPLEIRIA" style="text-align:left"></p:panel>
                        <<!--/ui:insert>-->
                    </p:layoutUnit>

                </p:layout>  
            </div>
        </h:body>
    </f:view>
</html>
