<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet library="css" name="default.css"/>
            <h:outputStylesheet library="css" name="cssLayout.css"/>
            <!--<h:outputStylesheet library="css" name="screen.css"/>-->
            <title>Loja Virtual</title>
            <style type="text/css">
                body {background-color: #eeeeee; font-size: 12px}
            </style> 
        </h:head>

        <h:body>
            <div align="center">
                <p:layout fullPage="true">
                    <p:layoutUnit position="north" size="120">
                        <h:form id="formNorth">
                            <p:layout>
                                <p:layoutUnit position="west" size="120" style="border-style: none;">
                                    <h:commandLink action="/index?faces-redirect=true">
                                        <h:graphicImage
                                            id="imgLogo"
                                            height="80" width="80" 
                                            value="#{resource['images:loja.gif']}" 
                                            alt="Logotipo da Loja Virtual"/>
                                    </h:commandLink>
                                </p:layoutUnit>
                                <p:layoutUnit position="center" style="border-style: none;"></p:layoutUnit>
                            </p:layout>
                        </h:form>
                    </p:layoutUnit>  

                    <p:layoutUnit position="west" size="150">
                        <h:form id="formCategorias">
                            <!--<p:panel header="CATEGORIAS" style="text-align:center">-->
                            <p:dataTable

                                id="tabelaCategorias"
                                var="categoria"
                                summary="Lista de todas as categorias de produtos"
                                value="#{consumidorManager.categorias}">
                                <f:facet name="header">  
                                    Categorias
                                </f:facet> 
                                <p:column>
                                    <f:facet name="headerCategorias">Categorias</f:facet>  
                                    <!--<p:panelGrid columns="1" style="width:100%">-->
                                    <h:commandLink
                                        value="#{categoria.nome}"
                                        action="/consumidor/consumidor_produtos_categoria?faces-redirect=true">
                                        <f:setPropertyActionListener target="#{consumidorManager.categoriaActual}" value="#{categoria}" />
                                    </h:commandLink>
                                    <!--</p:panelGrid>-->
                                </p:column>
                            </p:dataTable>
                            <!--</p:panel>-->
                        </h:form>
                    </p:layoutUnit>  
                    <p:layoutUnit position="center">  
                        <ui:insert name="centro">
                        </ui:insert>
                    </p:layoutUnit>
                    <p:layoutUnit position="east" size="350">
                        <h:form id="formCarrinho">
                            <p:dataTable
                                id="tabelaCarrinho"
                                var="linhaCarrinho"
                                summary="Lista de todos os produtos no carrinho"
                                value="#{consumidorManager.carrinhoEncomenda.linhas}"
                                emptyMessage="O seu carrinho encontra-se vazio."
                                sortBy="produto.nome"
                                >
                                <f:facet name="header">  
                                    Carrinho  
                                </f:facet> 
                                <p:column id="nomeProduto" headerText="Produto">
                                    <h:commandLink value="#{linhaCarrinho.produto.nome}"
                                                   action="/consumidor/consumidor_carrinho_adicionar?faces-redirect=true">     
                                        <f:setPropertyActionListener value="#{linhaCarrinho.produto}"   
                                                                     target="#{consumidorManager.produtoActual}"/>
                                        <f:setPropertyActionListener value="#{linhaCarrinho.quantidade}"   
                                                                     target="#{consumidorManager.qtdAdicionarCarrinho}"/>

                                    </h:commandLink>
                                    <f:facet name="footer">
                                        <h:outputText value="Total:" style="text-align: right;"></h:outputText>
                                    </f:facet>


                                </p:column>
                                <p:column id="quantidade" width="20" headerText="Qtd." style="text-align: right;">
                                    <h:outputText value="#{linhaCarrinho.quantidade}" style="text-align: right;"></h:outputText>
                                    <f:facet name="footer">
                                        <h:outputText value="#{consumidorManager.carrinhoEncomenda.quantidadeTotal}"
                                                      style="text-align: right;"></h:outputText>
                                    </f:facet>
                                </p:column>
                                <p:column id="precoTotal" headerText="Valor" width="75" style="text-align: right;">
                                    <h:outputText value="#{linhaCarrinho.precoTotal}" style="text-align: right;">
                                        <f:convertNumber type="currency"/>
                                    </h:outputText>
                                    <f:facet name="footer">
                                        <h:outputText value="#{consumidorManager.carrinhoEncomenda.precoTotal}"
                                                      style="text-align: right;">
                                            <f:convertNumber type="currency"/>
                                        </h:outputText>
                                    </f:facet>
                                </p:column>

                                <p:column id="remover" headerText="" width="15" style="text-align: center;">
                                    <p:commandButton
                                        id="buttonRemoveProdutoCarrinho"
                                        icon="ui-icon-trash"
                                        ajax="false"
                                        type="submit"
                                        action="#{consumidorManager.removeProdutoCarrinho}">
                                        <f:setPropertyActionListener value="#{linhaCarrinho.produto}"   
                                                                     target="#{consumidorManager.produtoARemover}"/>  
                                    </p:commandButton>
                                </p:column>
                            </p:dataTable>
                            <p:spacer height="30"/>
                            <p:commandButton
                                id="buttonFinalizaEncomenda"
                                icon="ui-icon-circle-check"
                                ajax="false"
                                type="submit"
                                value="Finalizar encomenda"
                                disabled="#{consumidorManager.carrinhoEncomenda.quantidadeTotal eq 0}"
                                action="/consumidor/consumidor_finalizar_encomenda?faces-redirect=true">                                
                            </p:commandButton>
                        </h:form>
                    </p:layoutUnit>
                    <p:layoutUnit position="south" style="margin-bottom: 0px; padding-bottom: 0em;" >  
                        <p:panel header="Copyright &#169; 2013-2014 Alfonso Susavila e Ivo Silva - EI ESTG IPLEIRIA"
                                 style="text-align:left; border: none; margin-bottom: 0px; padding-bottom: 0px;"></p:panel>
                    </p:layoutUnit>  
                </p:layout>  
            </div>
        </h:body>
    </f:view>
</html>
