<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:decorate template="./templates/templateFaces.xhtml">
        <ui:define name="centro">
            <h:form id="form">
                <p:growl id="growlMessage" showDetail="true" sticky="false" showSummary="false" life="2500"/>
                <p:breadCrumb>  
                    <p:menuitem action="/index?faces-redirect=true" />  
                    <p:menuitem value="Início" title="Início" action="/index?faces-redirect=true" />  
                </p:breadCrumb>  
                <p:dataGrid
                    var="produto"
                    value="#{consumidorManager.produtos}"
                    columns="3"
                    rows="12"
                    paginator="true"
                    paginatorPosition="bottom"
                    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                    rowsPerPageTemplate="9,12,15"
                    emptyMessage="Sem produtos!">

                    <p:column>
                        <p:panel header="#{produto.nome}" style="text-align:center" >
                            <h:panelGrid columns="2" style="width:100%" border="0">
                                <p:column>
                                    <p:graphicImage id="imagemProduto" value="#{imagensProdutosManager.imagem}" height="80" width="80">
                                        <f:param name="referencia" value="#{produto.referencia}" />
                                    </p:graphicImage>
                                    <h:panelGrid columns="2" style="width:100%" border="0">
                                        <p:commandButton
                                            update=":form:produtoDetalhe"
                                            oncomplete="PF('produtoDialog').show()"
                                            title="Ver detalhes"
                                            icon="ui-icon-search"
                                            style="margin:0">
                                            <f:setPropertyActionListener value="#{produto}"   
                                                                         target="#{consumidorManager.produtoActual}" />
                                        </p:commandButton>
                                        <p:commandButton
                                            title="Adicionar ao carrinho"
                                            icon="ui-icon-cart"
                                            action="/consumidor/consumidor_carrinho_adicionar?faces-redirect=true">     
                                            <f:setPropertyActionListener value="#{produto}"   
                                                                         target="#{consumidorManager.produtoActual}" />  
                                        </p:commandButton>
                                    </h:panelGrid>
                                </p:column>
                                <p:column>
                                    <h:panelGrid columns="1" style="text-align: left;">
                                        <p:column>
                                            <h:outputText value="#{produto.descricao}" escape="false"/><br/><br/>
                                            <h:outputText id="preco" value="#{produto.preco}">
                                                <f:convertNumber type="currency"/>
                                            </h:outputText>
                                        </p:column>
                                    </h:panelGrid>
                                </p:column>
                            </h:panelGrid>
                        </p:panel>
                    </p:column>
                </p:dataGrid>

                <p:dialog header="Detalhes do Produto" resizable="false" widgetVar="produtoDialog" modal="true" appendTo="@(body)">  
                    <p:outputPanel id="produtoDetalhe" style="text-align:center;">                         
                        <p:graphicImage id="imagemProduto2" value="#{imagensProdutosManager.imagem}" height="80" width="80">
                            <f:param name="referencia" value="#{consumidorManager.produtoActual.referencia}" />
                        </p:graphicImage>
                        <p:panelGrid  columns="2" style="text-align: left;">  
                            <h:outputLabel for="referencia" value="Ref. Loja Virtual: "/>  
                            <h:outputText id="referencia" value="#{consumidorManager.produtoActual.referencia}" />  

                            <h:outputLabel for="nome" value="Produto: "/>  
                            <h:outputText id="nome" value="#{consumidorManager.produtoActual.nome}" />  

                            <h:outputLabel for="descricao" value="Descrição: " />  
                            <h:outputText id="descricao" escape="false" value="#{consumidorManager.produtoActual.descricao}"/>

                            <h:outputLabel for="descricaoLonga" value="Características: " />  
                            <h:outputText id="descricaoLonga" escape="false" value="#{consumidorManager.produtoActual.descricaoLonga}"/> 

                            <h:outputLabel for="precoDetalhe" value="Preço: " />  
                            <h:outputText id="precoDetalhe" value="#{consumidorManager.produtoActual.preco}">
                                <f:convertNumber type="currency"/>
                            </h:outputText>

                        </p:panelGrid>  
                    </p:outputPanel>  
                </p:dialog>
            </h:form>
        </ui:define>
    </ui:decorate>
</html>
